<div id="receipt">
    <h2 id="orderReceivedMsg">{{this.newOrder.customerName}}, your order is received</h2>

    <div>
        <p>Order Confirmation Number: {{this.newOrder.orderConfirmationNumber}}</p>
        <p>Deliver to: {{this.newOrder.deliveryAddress}}</p>
    </div>

    <table id="pricesBreakdown">
        <tr id="pricesBreakdownHeaderRow">
            <th></th>
            <th>Items ordered</th>
            <th>Prices</th>
        </tr>
        {{#each newOrder.items}}
            <tr class="itemOrdered">
                <td></td>
                <td class="secondColData">{{this.name}}</td>
                <td class="thirdColData">{{this.price}}</td>
            </tr>
        {{/each}}

        <tr id="subtotal">
            <td>Subtotal</td>
            <td class="secondColData"></td>
            <td class="thirdColData">{{this.newOrder.subtotal}}</td>
        </tr>
        <tr>
            <td>Tax</td>
            <td class="secondColData"></td>
            <td class="thirdColData">{{this.newOrder.tax}}</td>
        </tr>
        <tr id="grandTotal">
            <td>Grand Total</td>
            <td class="secondColData"></td>
            <td class="thirdColData">{{this.newOrder.grandTotal}}</td>
        </tr>
    </table>
<div>


