{{#if msg}}
    <p id="orderMsg">{{msg}}</p>
{{else}}
    {{#if inFulfillment}}
    <h3 id="pageTitle">Order Fufillment Page</h3>
    {{else}}
    <h3 id="pageTitle">Open Orders</h3>
    {{/if}}

    <div id="orderList">
        {{#each orders}}
            <div class="order">
                <div class="customerInfo">
                    <p>Customer Name: {{this.customerName}}</p>
                    <p>Address: {{this.deliveryAddress}}</p>
                    <hr>    
                </div>
                {{#each this.items}}
                    <p>{{this.name}}</p>
                {{/each}}

                {{#if ../inFulfillment}}
                    {{#if this.photoOfDelivery}}
                        <p class="orderDelivered">Order Delivered!</p>
                        <img src="{{this.photoOfDelivery}}" />
                    {{else}}
                        <form class="orderFulfillmentForm" action="/drivers/uploadDeliveryPic/{{this._id}}" method="post", enctype="multipart/form-data">
                            <label for="deliveryPic">Upload picture of delivered order: </label>
                            <input type="file" name="deliveryPic" accept="image/png, image/gif, image/jpeg, image/jpg">
                            <button type="submit">Complete Delivery</button>
                        </form>
                    {{/if}}
                {{else}}
                    <form action="/drivers/openDeliveries/{{this._id}}" method="post">
                        <button type="submit">Select This Order For Delivery</button>
                    </form>
                {{/if}}
            </div>
        {{/each}}
    </div>
{{/if}}