<div id="ordering">
    <ul>
        {{#if currentOrdersOnly}}
            <li><a href="/restaurant/showOrders?sortOrder=descending">Latest To Oldest</a></li>
            <li><a href="/restaurant/showOrders?sortOrder=ascending">Oldest To Lastest</a></li>
        {{else}}
            <li><a href="/restaurant/showOrders?sortOrder=descending&currentOrdersOnly=false">Latest To Oldest</a></li>
            <li><a href="/restaurant/showOrders?sortOrder=ascending&currentOrdersOnly=false">Oldest To Lastest</a></li>
        {{/if}}
    </ul>
</div>

<section>
    <form action="/restaurant/showOrders" >
        <input type="text" placeholder="Customer name" name="customerName">
        {{#if currentOrdersOnly}}
        {{else}}
            <input type="hidden" name="currentOrdersOnly" value="false" />
        {{/if}}
        <button type="submit">Search</button>
    </form>
</section>

{{#if customerName}}
    <h2 id="errMsg">No orders with the name of <span style="text-decoration: underline;">{{customerName}}</span></h2>
    <div style="text-align: center;">
        {{#if currentOrdersOnly}}
            <a href="/restaurant/showOrders">Go back</a>
        {{else}}
            <a href="/restaurant/showOrders?currentOrdersOnly=false">Go back</a>
        {{/if}}
    </div>
{{else}}
{{#if errMsg}}
    <p id="errMsg">{{this.errMsg}}</p>

{{else}}
    <h1>Order list</h1>

    <div id="orderList">
        {{#each ordersToBeDisplayed}}
        <div class="order">
            <p>Customer name: {{this.customerName}}</p>
            <p>Address: {{this.deliveryAddress}}</p>
            <p>Date of Order: {{this.orderTime}}</p>
            <p>Number of Items Ordered: {{this.numberOfItems}}</p>
            <p>Order total: ${{this.orderTotal}}</p>
            {{#if this.driver}}
                <p>Driver name: {{this.driver.fullName}}</p>
                <p>Driver License plate: {{this.driver.licensePlate}}</p>
            {{/if}}

            <p id="orderedItemsTitle">Items ordered</p>
            <div class="orderedItems">
                {{#each this.items}}
                    <p style="color: blue;">{{this.name}}</p>
                    <p>{{this.description}}</p>
                    <p>${{this.price}}</p>
                {{/each}}
            </div>

            {{#if this.photoOfDelivery}}
            <div class="photoOfDelivery">
                <p class="orderDelivered">Order Delivered!</p>
                <img src="{{this.photoOfDelivery}}" />
            </div>
            {{/if}}
            <form action="/restaurant/updateOrder/{{this._id}}" method="post">
                <div class="currentStatus">
                    <p>Current Status: </p>
                    <select name="status">
                        {{#each this.statuses}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    {{#if ../currentOrdersOnly}}
                    {{else}}
                        <input type="hidden" name="currentOrdersOnly" value="false" />
                    {{/if}}
                    <button id="updateButton" type="submit">Update</button>
                </div>
            </form>

            {{#if this.isUpdatedMsg}}
                <p id="message">{{this.isUpdatedMsg}}</p>
            {{/if}}
        </div>
        {{/each}}
    </div>
{{/if}}    
{{/if}}